/* 
.login-signup {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

* {
    font-family: 'Poppins', sans-serif;
}

.user-acces-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .5s ease;
}

.scene {
    display: inline-block;
    width: 35%;
    height: 510px;
  /*   border: 1px solid #CCC; */
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    border-radius: 20px;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: crimson;
  }
  
  .card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
  }

 /* ------------------ */

.login-container {
    min-width: 40%;
    max-width: 40%;
    height: 510px;
    padding: 15px;
    background: hsl(0, 0%, 95%);
    border-radius: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 18%;
    margin-bottom: 1.5em
}

.logo-container img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.login-title {
    text-align: center;
    margin-bottom: 1.9em
}

.login-title h2 {
    color: #0CB7F2;
    font-size: 18px;
    font-weight: bolder;
}

.inputs {
    width: 100%;
    margin-bottom: 1.5em;
}

.inputs form input {
    padding: 10px 0 10px 0;
    text-indent: 15px;
    border-radius: 50px;
    background: hsl(0, 0%, 90%);
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 2em;
    font-size: 13px;
}

.inputs button{
    text-indent: 0;
    text-align: center;
    min-width: 40%;
    padding: 12px 0 12px 0;
    border-radius: 50px;
    background: hsl(0, 0%, 90%);
    border: none;
    outline: none;
    font-size: 13px;
    cursor: pointer;
}

.inputs button:hover {
    text-decoration: underline;
}

.inputs form .login-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-options {
    font-size: 13px;
}

.login-options .f-pwd {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2em;
}

.login-options .s-opt {
    display: flex;
    justify-content: center;
}

.login-options a {
    color: #0CB7F2;
}

.login-options a:hover {
    color: #0CB7F2;
    font-weight: bolder;
}

/* ----------------- */

.register-container {
    min-width: 35%;
    max-width: 40%;
    height: 510px;
    padding: 15px;
    background: hsl(0, 0%, 95%);
    border-radius: 20px;
}

.signup-title {
    text-align: center;
    margin-bottom: 1.9em
}

.signup-title h2 {
    color: #0CB7F2;
    font-size: 18px;
    font-weight: bolder;
}

.register-container input {
    padding: 10px 0 10px 0;
    text-indent: 15px;
    border-radius: 50px;
    background: hsl(0, 0%, 90%);
    border: none;
    outline: none;
    margin-bottom: 2em;
    font-size: 13px;
}

.register-container form .name input, .register-container form .last-name input {
    width: 100%;
}

.register-container form .dui-date input {
    width: 49%;
}

.register-container form .dui-date input:nth-child(2){
    text-indent: 4px;
}

.register-container form .email-phone input:nth-child(1) {
    width: 60%;
}

.register-container form .email-phone input:nth-child(2) {
    width: 38%;
}

.register-container .signup-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.register-container .signup-btn button{
    text-indent: 0;
    text-align: center;
    min-width: 40%;
    padding: 12px 0 12px 0;
    border-radius: 50px;
    background: hsl(0, 0%, 90%);
    border: none;
    outline: none;
    font-size: 13px;
    cursor: pointer;
}

.register-container .signup-btn button:hover {
    text-decoration: underline;
}

.register-container .signup-opts {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.register-container .signup-opts span a:hover {
    font-weight: bolder;
    color: #0CB7F2;
}



/* Flip effect */

.user-acces-container {
    position: absolute;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    z-index: 100;
}

.user-acces-container .login-container, .user-acces-container .register-container {
    position: absolute;
    backface-visibility: hidden;
}

.user-acces-container .register-container {
    transform: rotateY(180deg);
}


@media screen and (min-width: 1200px){
    .scene {
        width: 60%;
        height: 60%;
    }

    .scene .card {
        min-width: 100%;
        min-height: 100%;
    }

    .login-container {
        max-width: 50%;
        min-width: 45%;
        height: 100%;
    }

    .register-container {
        max-width: 50%;
        min-width: 45%;
        height: 100%;
    }

    .login-container div{
        margin: 20px 0 2px 0;
    }

    .register-container div {
        margin: 20px 0 8px 0;
    }
}

@media screen and (max-width: 1200px){
    .scene {
        min-width: 60%;
        min-height: 60%;
    }

    .scene .card {
        min-width: 100%;
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .login-container {
        min-width: 50%;
        min-height: 100%;
    }

    .register-container {
        min-width: 50%;
        height: 100%;
    }

    .login-container div{
        margin: 20px 0 2px 0;
    }

    .register-container div {
        margin: 20px 0 8px 0;
    }
}