
.card-container {
    width: 65%;
    margin: 45px;
    border-radius: 12px;
}

.card article {
    padding: 12px;
}

.card-container img {
    width: 200px;
}

.card .content .title strong span {
    font-size: 20px;
    display: inline-block;
}

.card .title, .card .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.product-quantity {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 25px;
}

.product-quantity .plus-icon, .product-quantity .minus-icon {
    width: 30px;
    height: 30px;
    background: hsl(0, 0%, 80%);
    margin-left: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.product-quantity .plus-icon svg, .product-quantity .minus-icon svg{
    width: 20px;
    border-radius: 50px;
    margin: 3px 0 0 5px;
}

.card .price {
    margin-top: -25px
}

.card .price strong span {
    font-size: 18px;
    margin-left: 12px;
}

.card .price .disc h4 {
    font-size: 15px;
    text-align: center;
}

.card .price .disc .input-disc{
    display: flex;
}

.card .price .disc .input-disc input {
    font-size: 14px;
    text-indent: 12px;
    border-radius: 50px 0 0 50px;
    border: none;
    outline: none;
    background: hsl(0, 0%, 80%);
}

.card .price .disc .input-disc .apply-cupon {
    color: #fff;
    background: #000;
    border-radius: 0px 50px 50px 0;
    padding: 3px;
    cursor: pointer;
    font-size: 14px;
}

.card .price .desc h4 {
    font-size: 14px;
}

.card .sending {
    margin-left: 20px;
    font-size: 14px;
    width: 100%;
}

.card .sending p {
    font-weight: bolder;
}

.card .sending p span {
    color: #f00;
}

.card .last-part {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px
}

.card .last-part p, .card .last-part p span {
    font-weight: bolder;
}

.card .last-part p span {
    color: #2f0;
}

.card .last-part .link-lp {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.card .last-part .link-lp a {
    margin-right: 12px;
    padding: 5px;
}

.card .last-part .link-lp a:nth-child(1):hover {
    text-decoration: underline;
    font-weight: bold;
    color: #f00;
}

.card .last-part .link-lp a:nth-child(2):hover {
    text-decoration: underline;
    font-weight: bold;
    color: #ecab0f;
}

.footer {
    background: hsl(0, 0%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    display: inline-block;
    width: 25px;
    margin: 20px;
    cursor: pointer;
}