

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: column;
}

.footer {
    background: hsl(0, 0%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon svg{
    display: inline-block;
    width: 22px;
    margin: 20px;
    cursor: pointer;
}

@media screen and (min-width: 1200px){
}