<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bulma link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!--Google Font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <!-- CSS main link -->
    <link rel="stylesheet" href="../../resources/styles/login-signup/style.css">
</head>

<body>

    <!-- Login and signup card, includes flip effect with css -->
    <section class="login-signup">
        <div class="user-acces-container">
            <div class="scene scene--card">
                <div class="card">
                    <div class="login-container">
                        <div class="logo-container">
                            <img src="../../resources/imgs/imagen4.jpg" alt="Mardehilos-logo">
                        </div>
                        <div class="login-title">
                            <h2>LOGIN</h2>
                        </div>
                        <div class="inputs">
                            <form action="">
                                <div class="user">
                                    <input type="text" placeholder="enter your email">
                                </div>
                                <div class="pwd">
                                    <input type="password" placeholder="enter your password">
                                </div>
                                <div class="login-btn">
                                    <button>Login</button>
                                </div>
                            </form>
                        </div>
                        <div class="login-options">
                            <div class="f-pwd">
                                <a href="#">Forgot your password?</a>
                            </div>
                            <div class="s-opt">
                                <span>
                                    Don't have an account?
                                    <a href="#" class="change-btn">Sign up</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="register-container">
                        <div class="signup-title">
                            <h2>SIGN UP</h2>
                        </div>
                        <form action="">
                            <div class="name">
                                <input type="text" placeholder="enter your name">
                            </div>
                            <div class="last-name">
                                <input type="text" placeholder="enter your lastname">
                            </div>
                            <div class="dui-date">
                                <input type="text" placeholder="enter your DUI">
                                <input type="date">
                            </div>
                            <div class="email-phone">
                                <input type="email" placeholder="enter your email">
                                <input type="text" placeholder="enter your phone">
                            </div>
                        </form>
                        <div class="signup-btn">
                            <button>Sign up</button>
                        </div>
                        <div class="signup-opts">
                            <span>
                                Already have an account?
                                <a href="#" class="change-btn">Login</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Flip effect, includes swiperjs -->
    <script src="../../resources/js/flip-effect.js"></script>
</body>

</html>