
:root {
    --f-font--: 'Kaisei Tokumin', serif;
    --s-font--: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--f-font--);
}

header .f-nav{
    background: #111;
    width: 100%;
    height: 80px;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 3%;
    justify-content: space-evenly;
}

.brand .fa-copyright {
    font-size: 30px;
}

.brand h2 {
    margin-left: 10px;
}

.brand a {
    text-decoration: none;
}

.navbar {
    position: relative;
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-box {
    position: relative;
    width: 50%;
}

.search-box input {
    width: 90%;
    height: 35px;
    border: none;
    outline: none;
    padding: 1%;
    text-indent: 10px;
    font-size: 13px;
    border-radius: 4px;
    font-family: var(--s-font--);
}

.search-icon {
    position: relative;
    left: -35px;
    color: #111;
    z-index: 100;
    cursor: pointer;
}

.f-nav ul {
    position: relative;
    width: 40%;
}

.f-nav ul li {
    display: inline-block;
    margin: 12px 60px 0 5px;
}

.f-nav ul li a span {
    color: #fff;
    font-size: 20px;
}

.f-nav ul li a:nth-child(2) { /* Not showing option texts*/
    display: none;
}

.f-nav ul li a span:hover {
    padding-bottom: 3px;
    border-bottom: .4px solid #fff;
}


/* Here ends first navbar in header*/

header .s-nav {
    width: 100%;
    height: 45px;
    background: #222;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.s-nav ul {
    position: relative;
    width: 100%;
}

.s-nav ul li{
    display: inline-block;
    margin: 20px 60px 12px 20px;
    color: #fff;
}

.s-nav ul li a {
    font-family: var(--s-font--);
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.s-nav ul li a:hover {
    padding-bottom: 6px;
    border-bottom: .4px solid #fff;
}

/* Carousel Presentation page*/

.splide__track {
    width: 100%;
    height: 400px;
    padding: 15px;
    background: #999;
}

.splide__track img {
    width: 99%;
    height: 400px;
    object-fit: cover;  
}





















/* Here starts responsive*/

@media (max-width: 768px) {
    .navbar {
        position: relative;
        width: 50%;
    }

    .navbar ul {
        position: absolute;
        background: #111;
        width: 90%;
        height: 100vh;
    }

    .navbar ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        text-align: left;
        position: relative;
        top: 50px;
    }
    
    .f-nav ul li a span {
        font-size: 30px;
    }



}